<%-include('../header')%>
        <h1>Listagem de Categorias</h1>
        <table class="table table-hover">
            <tr>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
            <%categorias.forEach(categoria => {%>
            <tr>
                <td><%=categoria.categoria%></td>
                <td><a href="/categorias/excluir/<%=categoria.id%>">Deletar</a> 
                    | <a href="/categorias/editar/<%=categoria.id%>">Editar</a></td>
            </tr>
            <%})%>
        </table>
        <a href="/categorias/nova" class="btn btn-primary">Nova Categoria</a>
    <%-include('../footer')%>