<%-include('../header')%>
        <h1>Listagem de Publicações</h1>
        <table class="table table-hover">
            <tr>
                <th>Publicação</th>
                <th>Ações</th>
            </tr>
            
            <%publicacoes.forEach(publicacao => {%>
            <tr>
                <td><%=publicacao.titulo%></td>

                <td>
                <a href="/publicacoes/excluir/<%=categoria%>/<%=publicacao.id%>">
                    <span class="glyphicon glyphicon-trash"></span>
                </a> 
                     <a href="/publicacoes/editar/<%=categoria%>/<%=publicacao.id%>">
                 <span class="glyphicon glyphicon-edit"></span></a></td>
            </tr>
            <%})%>
        </table>
        
 <%-include('../footer')%>